.home-section {
    color: #fff;
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url('../../assets/background.jpg');
    background-position: center;
    height: 100vh;
}
.home_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90rem;
    width: 92%;
}
.heading-primary {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #111;
    font-weight: 700;
}
.home_info {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
}
.text-primary {
    color: #333;
    font-size: 2.2rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
}

/* BTN */
.home-btn {
    margin-top: 5rem;
    text-align: center;
    transition: transform .3s;
}
.home-btn:hover {
    transform: scale(1.1);
}
.btn--bg {
    padding: 1rem 5rem;
    font-size: 1.5rem;
}
.btn {
    background: #80DAEB;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
    
}

a {
    text-decoration: none;
    color: inherit;
}