@media (min-width: 320px) {
    .about-section {
        color: #fff;
    }
    .about_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
    .heading-primary {
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
        color: #111;
        font-weight: 700;
    }
    .about_info {
        margin: 0 2rem;
        max-width: 50rem;
    }
    .text-primary {
        color: #333;
        font-size: 2.2rem;
        text-align: center;
        width: 100%;
        line-height: 1.6;
    }
    .about-socials {
        display: none;
    }

    /* BTN */
    .about-btn {
        text-align: center;
        transition: transform .3s;
        margin-bottom: 3rem;
    }
    .about-btn:hover {
        transform: scale(1.1);
    }
    .btn {
        padding: 1rem 3rem;
        margin: 1rem;
        font-size: 1.5rem;
        background: #80DAEB;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        border-radius: 5px;
        box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

@media (min-width: 768px) {
    .heading-primary {
        font-size: 4rem;
    }
    .about_info {
        margin: 3rem 10rem;
        max-width: 80rem;
    }
    /* about socials */
    .about-socials {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: #fff;
        box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
        padding: 0.3rem;
    }

    .about-social-icon-link {
        width: 100%;
        display: block;
        transition: background .3s;
        border-radius: 5px;
    }

    .about-social-icon {
        padding: 0.5rem;
        width: 50px;
        transition: 1s ease;
    }

    .about-social-icon:hover {
        transform:rotate(10deg);
    }
}

@media (min-width: 1024px) {
    .about-section {
        height: 90vh;
    }
}