.projects-section {
  position:relative;
  z-index: -2;
  padding: 12rem 0;
  }
  
  .projects-container {
    max-width: 120rem;
    margin: auto;
    width: 92%;
  }
  
  .section-heading {
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    color: #111;
  }
  
  .section-heading__sub {
    display: block;
    text-align: center;
    color: #555;
    font-size: 2rem;
    font-weight: 500;
    max-width: 80rem;
    margin: auto;
    line-height: 1.6;
  }
  
  /* CONTENIDO DE PROYECTOS */
  .project {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 5rem;
    margin-bottom: 11rem;
  }
  
  .project-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .project-image__img {
    width: 260px;
    height: 260px;
    display: block;
    object-fit: cover;
  }
  
  .project-info {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .project-title {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }
  
  .project-description {
    font-size: 1.8rem;
    color: #666;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 3rem;
  }
  
  .project-btns {
    display: flex;
    justify-content: flex-start;
  }
  
  .project-btns a {
    padding: 1rem 3rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    background: #80DAEB;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    text-decoration: none;
    transition: transform 0.3s;
  }
  
  .project-btns a:hover {
    transform: scale(1.1);
  }