body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url('./assets/background.jpg');
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

.btn-container {
  display: flex;
  justify-content: center;
}

@media(min-width: 320px){
  .burguer-menu{
    float: left;
    list-style: none;
  }
  .burguer-menu a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 17px;
    display: block;
    color: #222;
  }
  .menu{
    position: relative;
  }
  .submenu{
    display: block;
    position: absolute;
    z-index: 1;
    text-align: center;
    background: #fff;
    right: -3.3rem;
    display: none;
    border-radius: 0 0 10px 10px;
  }
  .menu:hover .submenu{
    display: block;
  }
  .submenu a:hover{
      background: #f1f1f1;
  }
  .submenu a{
      width: 100px;
      padding: 8px 14px;
  }
  .menu img {
    margin-right: 0rem;
    width: 50px;
    height: 50px;
  }
}
@media(min-width: 768px){
  .burguer-menu{
    display: none;
  }
}